@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: $navy-theme;
  color: $white-theme;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
}
