@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: $white-theme;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
  scrollbar-gutter: stable both-edges;
}

html {
  background: rgb(17, 24, 39);
  background-repeat: no-repeat;
}

body {
  // min-width: 100vw;
  min-height: 100vh;
  background: $space-theme;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    // display: none;
    height: 5px;
    width: 5px;
    background-color: $navy-theme;
  }

  ::-webkit-scrollbar-thumb {
    // display: none;
    background-color: $red-theme;
    &:hover {
      background-color: #dc2f02;
    }
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background-color: $navy-theme;
  }
}

.arnolio-input {
  color: $navy-theme;
  border-radius: 2px;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  &:focus {
    outline: none;
  }
}

.arnolio-input {
  resize: none;
}
