@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: $navy-theme;
  color: $white-theme;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
  // overflow: auto;
  // &::-webkit-scrollbar-thumb {
  //   display: none;
  // }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: $navy-theme;
}

::-webkit-scrollbar-thumb {
  background: $red-theme;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: $navy-theme;
}
