.container {
  //Every section
  & > * {
    padding: 1rem 4rem;
  }
  //Only Landing
  @media (min-width: 1024px) {
    .landing {
      min-height: calc(100vh - 5rem);
    }
    //Except Landing
    & > * {
      min-height: 100vh;
    }
  }
}
