.container {
  //Every section
  & > * {
    padding: 1rem 4rem;
    overflow: hidden;
  }
  //Only Landing
  .landing {
    height: calc(100vh - 5rem);
  }
  //Except Landing
  & > *:not(.landing) {
    height: 100vh;
  }
}
