//colors
$red-theme: #ef233c;
$white-theme: #edf2f4;
$navy-theme: #2b2d42;
$blue-theme: #0077b6;
$space-theme: linear-gradient(90deg, rgb(17, 24, 39), rgb(75, 85, 99));
$gotham-theme: conic-gradient(
  at right center,
  rgb(55, 65, 81),
  rgb(17, 24, 39),
  rgb(0, 0, 0)
);
